 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  text-align: center; /* Centralizar textos por padrão */
  font-size: 18px;
}

/* Cabeçalho */
.cabecalho {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #95c0a2;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

#logo-menu {
  height: 7rem;
}

#menus ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centralizar menus */
}

#menus ul li {
  margin: 0 15px;
  color: #fff;
  cursor: pointer;
}

/* Oferta do Livro */
.oferta-livro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13rem 10rem 0 10rem;
  background-color: #dde5d3;
}

.conteudo-livro {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3rem;
}

.sobre-livro {
  margin: 5rem 0;
}

.conteudo-livro h2 {
  text-transform: capitalize;
  font-size: 3rem;
}

.conteudo-livro h5 {
  text-transform: capitalize;
  font-size: 2rem;
}

.conteudo-livro p {
  font-size: 1rem;
}

.imagem-livro-oferta {
  padding: 3rem;
}

.imagem-livro img {
  width: auto;
  height: 30rem; /* Mantém a proporção da imagem */
}

/* Botões de Compra */
.botoes {
  background-color: #dde5d3;
  padding: 2rem 0 8rem 0;
}

.botoes .button-compra {
  display: flex;
  justify-content: center; /* Centralizar botões */
  gap: 2rem; /* Espaço entre botões */
}

.botoes button {
  background-color: #95c0a2;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 2.5rem;
  width: 20%;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.botoes button:hover {
  background-color: #ccb590;
}

.fas fa-quote-left {
  font-size: 24px; /* Ajuste o tamanho do ícone conforme necessário */
  color: #95c0a2; /* Cor do ícone */
  margin-right: 10px; /* Espaço entre o ícone e o nome */
  width: 100%; /* Alinhar verticalmente com o texto */
  align-items: left;
}

/* Depoimentos */
.depoimentos {
  background-color: #fff;
  padding: 4rem 0 4rem 0;
}

.container-depoimentos {
  display: flex;
  flex-direction: row;
  margin: 0 10rem 0 10rem;
  gap: 1.5rem;
  align-items: center;
  text-align: left;
}

.card-depoimento {
  border: solid 1px;
  border-radius: 5px;
  padding: 1rem;
}

.card-depoimento h5 {
  font-size: 1.2rem;
}

.card-depoimento p {
  font-size: 1rem;
}

#titulo-depoimento {
  background-color: #fff;
  border-radius: none;
  padding-top: 2rem;
}

#titulo-depoimento h2 {
  font-size: 36px;
  margin: 0 0 1rem 0;
}

#titulo-depoimento h5 {
  font-size: 20px;
  margin: 0 0 3rem 0;
}

/* Equipe de Escrita */
.equipe-escrita {
  margin: 40px 0;
}

.container-informacoes-equipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding: 20px;
  border-radius: 8px;
}

.card-equipe {
  background-color: #ffffff; /* Fundo branco */
  border: 1px solid #dde5d3;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.container-informacoes-autora {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 12rem 8rem;
  text-align: left;
  gap: 10rem;
  background-color: #dde5d3;
}

#titulo-autora {
  padding: 3rem 0 0 0;
  font-size: 1.8rem;
  background-color: #dde5d3;
}

.conteudo-texto-autora h5 {
  font-size: 1.6rem;
}

.conteudo-texto-autora p {
  font-size: 1rem;
  width: 80%;
}

.img-autora img {
  width: 40rem;
  height: auto;
}

.equipe-livro {
  background-color: #fff;
  padding: 0 40rem;
}

.imagem-membro-equipe {
  height: auto;
  width: 5rem;
  border: solid 2px;
  border-radius: 50%;
  margin: -50px 0;
  position: absolute;
}

.texto-membro-equipe {
  margin: 3rem 0 0 0;
}

.card-equipe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.equipe-livro h2 {
  padding: 5rem 0 0 0;
}

.title-equipe {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Formulário de Newsletter */
.formulario-newsletter {
  background-color: #dde5d3;
  margin: 0;
  padding: 3rem 0 0 0;
}

.formulario-newsletter form {
  display: flex;
  flex-direction: column;
  padding: 0 30rem 3rem 30rem;
}

.formulario-newsletter label {
  margin: 10px 0 5px;
}

.formulario-newsletter input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #95c0a2;
  border-radius: 5px;
}

.formulario-newsletter button {
  background-color: #95c0a2;
  color: #fff;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.formulario-newsletter button:hover {
  background-color: #ccb590;
}

/* Rodapé */
.rodape {
  background-color: #95c0a2;
  padding: 20px;
  text-align: center;
  color: #fff;
}

.rodape a {
  color: #ffffff;
  text-decoration: none;
}

.rodape .container-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15rem;
}
