* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', serif;
  line-height: 1.6;
  color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  background-color: #1b1b1b;
}

/* Cabeçalho */
.cabecalho {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #95c0a2;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

#logo-menu {
  height: 7rem;
}

#menus ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

#menus ul li {
  margin: 0 15px;
  color: #1b1b1b;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  
}

#menus ul li:hover {
  color: #dde5d3;
}

/* Oferta do Livro */
.oferta-livro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13rem 10rem 0 10rem;
  background-color: #2c2c2c;
}

.conteudo-livro {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 3rem;
  color: #f5f5f5;
}

.sobre-livro {
  margin: 5rem 0;
}

.conteudo-livro h2 {
  text-transform: capitalize;
  font-size: 3rem;
  color: #95c0a2;
  font-family: 'Georgia', serif;
}

.conteudo-livro h5 {
  text-transform: capitalize;
  font-size: 2rem;
  color: #dde5d3;
  font-family: 'Georgia', serif;
}

.conteudo-livro p {
  font-size: 1rem;
  color: #d9d9d9;
  font-family: 'Times New Roman', serif;
}

.imagem-livro-oferta {
  padding: 3rem;
}

.imagem-livro img {
  width: auto;
  height: 30rem;
}

/* Botões de Compra */
.botoes {
  background-color: #2c2c2c;
  padding: 2rem 0 8rem 0;
}

.botoes .button-compra {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.botoes button {
  background-color: #95c0a2;
  color: #1b1b1b;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 2.5rem;
  width: 20%;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.botoes button:hover {
  background-color: #dde5d3;
}

.fas fa-quote-left {
  font-size: 24px;
  color: #95c0a2;
  margin-right: 10px;
  width: 100%;
  align-items: left;
}

/* Depoimentos */
.depoimentos {
  background-color: #1b1b1b;
  padding: 4rem 0 4rem 0;
}

.container-depoimentos {
  display: flex;
  flex-direction: row;
  margin: 0 10rem 0 10rem;
  gap: 1.5rem;
  align-items: center;
  text-align: left;
}

.card-depoimento {
  border: solid 1px #95c0a2;
  border-radius: 5px;
  padding: 1rem;
  background-color: #2c2c2c;
}

.card-depoimento h5 {
  font-size: 1.2rem;
  color: #f5f5f5;
  font-family: 'Georgia', serif;
}

.card-depoimento p {
  font-size: 1rem;
  color: #d9d9d9;
  font-family: 'Times New Roman', serif;
}

#titulo-depoimento {
  background-color: #1b1b1b;
  border-radius: none;
  padding-top: 2rem;
}

#titulo-depoimento h2 {
  font-size: 36px;
  margin: 0 0 1rem 0;
  color: #95c0a2;
  font-family: 'Georgia', serif;
}

#titulo-depoimento h5 {
  font-size: 20px;
  margin: 0 0 3rem 0;
  color: #dde5d3;
  font-family: 'Georgia', serif;
}

/* Equipe de Escrita */
.equipe-escrita {
  margin: 40px 0;
}

.container-informacoes-equipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding: 20px;
  border-radius: 8px;
}

.card-equipe {
  background-color: #2c2c2c;
  border: 1px solid #95c0a2;
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.container-informacoes-autora {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 12rem 8rem;
  text-align: left;
  gap: 10rem;
  background-color: #262626;
}

#titulo-autora {
  padding: 3rem 0 0 0;
  font-size: 1.8rem;
  background-color: #262626;
  color: #f5f5f5;
}

.conteudo-texto-autora h5 {
  font-size: 1.6rem;
  color: #f5f5f5;
  font-family: 'Georgia', serif;
}

.conteudo-texto-autora p {
  font-size: 1rem;
  width: 80%;
  color: #d9d9d9;
  font-family: 'Times New Roman', serif;
}

.img-autora img {
  width: 30rem;
  height: auto;
}

.equipe-livro {
  background-color: #1b1b1b;
  padding: 0 30rem;
}

.imagem-membro-equipe {
  height: auto;
  width: 5rem;
  border: solid 2px #95c0a2;
  border-radius: 50%;
  margin: -50px 0;
  position: absolute;
}

.texto-membro-equipe {
  margin: 3rem 0 0 0;
  color: #f5f5f5;
  text-align: left;
}

.card-equipe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.equipe-livro h2 {
  padding: 5rem 0 0 0;
  color: #95c0a2;
  font-family: 'Georgia', serif;
}

.title-equipe {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Formulário de Newsletter */
.formulario-newsletter {
  background-color: #262626;
  margin: 0;
  padding: 3rem 0 0 0;
}

.formulario-newsletter form {
  display: flex;
  flex-direction: column;
  padding: 0 30rem 3rem 30rem;
}

.formulario-newsletter label {
  margin: 10px 0 5px;
  color: #f5f5f5;
  font-family: 'Georgia', serif;
}

.formulario-newsletter input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #95c0a2;
  border-radius: 5px;
  background-color: #1b1b1b;
  color: #f5f5f5;
}

.formulario-newsletter button {
  background-color: #95c0a2;
  color: #1b1b1b;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.formulario-newsletter button:hover {
  background-color: #dde5d3;
}

/* Rodapé */
.rodape {
  background-color: #2c2c2c;
  padding: 20px;
  text-align: center;
  color: #f5f5f5;
}

.rodape a {
  color: #95c0a2;
  text-decoration: none;
}

.rodape a:hover {
  color: #dde5d3;
}

.rodape .container-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15rem;
}

/* Media Queries */

@media screen and (max-width: 1585px) {
  .imagem-livro img {
    width: 30rem;
    height: auto;
  }

  .img-autora img {
    width: 25rem;
    height: auto;
  }

  .equipe-livro {
    padding: 0 15rem;
  }

  .equipe-livro h2 {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    margin: -1rem -10rem -1rem -10rem;
  }

  .oferta-livro {
    flex-direction: row;
    padding: 13rem 5rem 0 5rem;
    margin: -4rem;
  }

  .botoes {
    padding: 0 0 7rem;
  }

  .imagem-livro img {
    width: 20rem;
    height: auto;
  }

  .container-depoimentos {
    flex-direction: row;
    margin: 0 10rem;
  }

  #titulo-depoimento h2 {
    margin: -3rem 0 0 0;
  }

  .equipe-escrita {
    align-items: center;
  }

  .container-informacoes-autora {
    flex-direction: row;
    padding: 3rem 5rem 5rem;
  }

  .img-autora img {
    width: 15rem;
    height: auto;
  }

  .container-informacoes-equipe {
    flex-direction: row;
    margin: 0 -5rem;
  }

  .container-informacoes-equipe img {
    margin: none;
  }

  .card-equipe {
    padding: 0 1rem;
  }

  .formulario-newsletter form {
    padding: 0 5rem 3rem 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .oferta-livro {
    display: flex;
    flex-direction: column;
  }

  .conteudo-livro {
    padding: 2rem 3rem 0;
  }

  .conteudo-livro-oferta {
    padding: 2rem 4rem 0;
  }

  .imagem-livro-oferta {
    padding: 0 0 7rem 0;
  }

  .container-depoimentos {
    display: flex;
    flex-direction: column;
  }

  .container-informacoes-autora {
    padding: 0 3rem 3rem 10rem;
    gap: 5rem;
  }

  .conteudo-texto-autora {
    margin: 0 -5rem;
    text-align: justify;
  }

  .conteudo-texto-autora h5 {
    display: none;
  }

  #titulo-autora {
    padding: 2rem 0 1.25rem;
  }

  .container-informacoes-equipe {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .oferta-livro {
    padding: 10rem 5rem 0;
  }

  .container-informacoes-autora {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 10rem;
  }

  .conteudo-texto-autora {
    align-items: center;
    margin: 0 0 -7rem 0;
    width: 100%;
  }

  .conteudo-texto-autora h5 {
    display: none;
  }

  .img-autora {
    margin: 0;
    padding: 0 5rem 0 0;
  }

  .container-informacoes-equipe {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .formulario-newsletter form {
    padding: 0 2rem 2rem 2rem;
  }

  .card-equipe {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .oferta-livro {
    padding: 8rem 1rem 0 1rem;
  }

  .container-depoimentos {
    margin: 0 1rem 0 1rem;
  }

  .container-informacoes-autora {
    padding: 3rem 1rem 3rem;
  }

  .formulario-newsletter form {
    padding: 0 1rem 1rem 1rem;
  }

  .card-equipe {
    margin: 5px 0;
  }
}
